{% extends 'base.html' %}
{% block title %}Главная — RCPSP{% endblock %}

{% block content %}
  <div class="text-center">
    <h1 class="mb-4">Главная страница</h1>
    <div class="d-inline-flex gap-3">
      <a href="{{ url_for('new_project') }}"  class="btn btn-lg btn-primary">
        Добавить проект
      </a>
      <a href="{{ url_for('projects') }}"     class="btn btn-lg btn-outline-secondary">
        Сохранённые проекты
      </a>
      <a href="{{ url_for('portfolios') }}"   class="btn btn-lg btn-outline-primary">
        Портфели проектов
      </a>
    </div>
  </div>
{% endblock %}
